github "Quick/Nimble"
github "PureLayout/PureLayout"
github "Thomvis/BrightFutures"
github "Alamofire/Alamofire" ~> 3.0
github "kishikawakatsumi/KeychainAccess"
github "rs/SDWebImage"
github "mikaoj/BSImagePicker"
github "antitypical/Result"
