github "PureLayout/PureLayout"
github "Thomvis/BrightFutures" "v4.0.0-beta.2"
github "kishikawakatsumi/KeychainAccess"
github "rs/SDWebImage"
github "mikaoj/BSImagePicker"
github "antitypical/Result"
